* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body {
    background-color:#bbf7d0;

    color: #d946ef;
}

h1 {
    color: #3b82f6;
}

h2 {
    color: #3b82f6;
}

h3 {
    color: #3b82f6;
}